attr==0.3.2
backports.statistics==0.1.0
ConfigParser==7.2.0
cryptography==49.0.0
docutils==0.18.1
docutils==0.18.1
fastapi==0.139.0
filelock==3.29.5
h2==4.3.0
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==7.8.1
jnius==1.1.0
joblib==1.4.2
js==1.0
keyring==24.3.1
pandas==3.0.3
plotly==5.24.1
protobuf==4.25.3
pydantic==2.13.4
pyodide==0.0.2
pyOpenSSL==24.2.1
pyOpenSSL==26.3.0
python-dotenv==1.2.2
redis==8.0.1
Sphinx==9.1.0
streamlit==1.37.1
thread==2.0.6
typing_extensions==4.16.0
xgboost==3.3.0
xmlrpclib==1.0.1
